.recomendation_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recomendation_container button {
  background: rgb(252, 220, 54, 0.9);
  font-size: 18px;
  letter-spacing: 0.09em;
  padding: 12px 20px;
  width: 100%;
}

.recomendation_container button:hover {
  background: rgb(65, 25, 127, 0.9);
}

.recomendations {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(224, 226, 236, 0.8);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 20px;
  overflow-x: scroll;
  padding: 20px;
  width: 90%;
}

.recomendations img {
  margin: 10px;
}

.recomendationCard {
  align-items: center;
  display: flex;
  flex-direction: column;
}
