.recomendation_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.recomendation_container button {
  background: rgb(252, 220, 54, 0.9);
  font-size: 18px;
  letter-spacing: 0.09em;
  padding: 12px 20px;
  width: 95%;
}

.recomendation_container button:hover {
  background: rgb(65, 25, 127, 0.9);
}

.recomendations {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(224, 226, 236, 0.8);
  margin: 10px 20px 60px;
  max-width: 330px;
  padding: 10px 20px;
}

.recomendation_box {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.recomendationCard {
  align-items: center;
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  position: relative;
}
