body {
  background-attachment: fixed;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.7));
  background-size:cover;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  margin: 0;
  text-shadow: 0px 4px 7px rgba(255,232,251,1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  }
  
  button {
  background: rgb(252, 220, 54, 0.781);
  border: none;
  border-radius: 7px;
  /* box-shadow: 0 0 26px rgba(252, 220, 54, 0.8); */
  font-weight: bolder;
  letter-spacing: 0.03em;
  padding: 8px 16px;
  }
  
  button:hover {
  /* box-shadow: 0 0px 26px rgb(252, 220, 54); */
  background: rgb(65, 25, 127, 0.781);
  }
  
  button:disabled {
  background: rgba(31, 30, 30, 0.5);
  border-radius: 7px;
  }
  
  code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  }
  
  input , select {
  border: 0.5px solid #e2e3e400;
  border-radius: 7px;
  /* box-shadow: 0 0 26px rgba(59, 59, 59, 0.8); */
  box-sizing: border-box;
  color:  rgb(65, 25, 127);
  padding: 8px 12px;
  resize: vertical;
  text-align: center;
  width: 100%;
  }
  
  p, label {
  color: rgb(233, 233, 233); 
  display: inline-block;
  font-weight: bolder;
  text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.445);
  }
